.separador {
    height: 1px;
    background-color: var(--color-primary);
    margin: 3rem 20rem;
}

@media screen and (max-width: 600px) {
    
    .separador {
        height: 1px;
        background-color: var(--color-primary);
        margin: 3rem 2rem;
    }
  }



